@model IEnumerable<My_Follow.Models.Updates>

@{
    ViewBag.Title = "Index";
}

<h2>Updates</h2>

<p>
    @Html.ActionLink("Post new Update", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Products.ProductName)
    
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>Action</th>
       
    </tr>

@foreach (var item in Model) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Products.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UpdatesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UpdatesID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UpdatesID })  |
            @Html.ActionLink("Attach Media", "Redirect", new { id = item.UpdatesID })
            
        </td>
        <td>
           
        </td>

    </tr>
}

</table>
