<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Follow Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 
    @RenderSection("JavaScript", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Follow", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Invitation Form", "Create", "InvitationForm")</li>
                  
           

                    @*<li>@Html.ActionLink("End Users", "List", "Products")</li>*@

               @if (Request.IsAuthenticated && User.IsInRole("EndUsers"))
              {
                    <li>@Html.ActionLink("EndUsers", "Create", "EndUsers")</li>
               }
            


                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {

                         <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                         <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                 
                     
                       <li>@Html.ActionLink("View Invitation Requests", "Index", "InvitationForm")</li>
                       
                    } 

                @if (Request.IsAuthenticated && User.IsInRole("ProductOwners"))
                {

                    <li>@Html.ActionLink("Product Owners", "", "ProductOwners")</li>
                    <li>@Html.ActionLink("Products", "Create", "Products")</li>
                }
                </ul>
              @Html.Partial("_LoginPartial") 
     

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Follow Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
